.imagen1{
    width: 90%;
    display: flex;
    margin-left:5%;
    border-radius: 10px;/*Radio*/
   
}
.imagen2{
    
    width: 23% ;
    border-radius: 50%;
    margin-top: -15%;/*Aparezca en cima de otra imagen*/
    margin-left: 7%;/*separación*/
}
body{
    background-color: #1c1e21;
    font-family: "Bacasime_Antique variant0", Tofu;
    color: rgb(240, 238, 238);
}
.titulo1{
    color: rgb(240, 238, 238);
    border-radius: 10px;
    width: 40%;
    margin-top: -3%;
}
 .ti1{
    color:rgb(240, 238, 238);
    
 }
 .ti2{
    color:rgb(240, 238, 238);
    margin-left: 25%;
 }
 .ti3{
    color: rgb(240, 238, 238);
 }
 .ti4{
    color: rgb(240, 238, 238);
 }
 .ti5{
    color: rgb(240, 238, 238);
 }
a{
    color: rgb(240, 238, 238);
    margin-left: 15px;
    text-decoration: none;   
}
.tex1{
    text-align:justify;
    color: rgb(240, 238, 238);
}
.tex2{
    text-align:justify; 
}
.re1{
    text-align:justify;
}
.re2{
    text-align:justify;
}